---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title = "Datenschutz">
    <section class="datenschutz-page">
        <div class="container"><h1>Datenschutzvereinbarung</h1></div> </section>
    </BaseLayout>

<style>
    h1 {
        text-align: left;
    }
</style>