---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title = "Datenschutz">
    <section class="datenschutz-page">
        <div class="container"><h2>Datenschutzvereinbarung </h2></div> </section>
    </BaseLayout>

<style>
    h2 {
        text-align: left;
    }
</style>